@import 'tailwindcss';
@import '../../vendor/wireui/wireui/ts/global.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../../app/**/*.php';
@source '../../vendor/wireui/wireui';


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

    --color-brand: oklch(65% 0.15 10);        /* rose-400 range, main accent */
    --color-brand-light: oklch(95% 0.02 10);  /* rose-50, body bg */
    --color-brand-dark: oklch(40% 0.12 10);   /* rose-700 range, dark accent */
}

@layer {
    [x-cloak] {
        display: none !important;;
    }
}
